.boton_uni{
    padding: 1% 6%;
    font-size: 100%;
}
/*  */

.div{
    display: flex;
justify-content: center;
}
/*  */

.div_C{
    display: flex;
    flex-direction: row;
}
/*  */


#vidas{
        display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
flex-direction: column;
}

.M{
    margin-left: 10%;
}


.v{
    display: flex;
    flex-direction: row;
}
/*  */

#botones{
display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
/*  */


/*  */

.inicio{
    display: flex;
    justify-content: center;
}
/*  */


.BU{
    color: rgb(0, 229, 255);
}/*  */


.puntuacion_C{
    display: flex;
    flex-direction: column;
}
/*  */


#DIV_P{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: -10%;
/*  */
}


.I_D{
    width: 0%;
    height: 0%;
}
/*  */



.H3G{
    color: transparent;
    font-size: 0%;
}
/*  */


#HG3_D{
    display: flex;
    flex-direction: column;
}/*  */


.H_cabe{
    color: transparent;
    font-size: 0%;
}
/*  */


.D_COLUM{
    display: flex;
    flex-direction: column;
}
/*  */


#T_modos{
    display: flex;
    flex-direction: column;
}/*  */



#B_modos{
    display: flex;
    flex-direction: row;
}/*  */


.modos{
    font-size: 300%;
    display: flex;
    justify-content: center;
    padding: 8% 8%;
    color: aliceblue;
    background-color: black;
}/*  */


.modos_2{
    display: flex;
margin: auto;
padding: 4% 8%;
}/*  */

.v_P{
    margin-bottom: 10%;
}
/*  */


#corazones{
    flex-direction: row;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
}

#corazones2{
    flex-direction: row;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
}


.vD{
margin-top: -10%;
}/*  */

.CO{
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-top: -5%;
}/*  */



#B_I{
    height: 1350px;
    width: 1800px;
    font-size: 200px;
}

#selec{
display: flex;
flex-direction: column;
align-content:center;
justify-content:center;
}


#numeros{
    display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
flex-direction: row;
width: 100%;
height: 100%;
}

#selector{
width: 100%;
padding: 8% 6%;
    font-size: 100%;
}

#selecionadordetema{
width: 100%;
padding: 8% 0%;
    font-size: 100%;
    text-align: center;
    text-align: justify;

}

.B_E{
width: 40%;
padding: 6% 15%;
font-size: 100%;
text-align: center;
}/*  */



.TE{
    font-size: 100%;
    display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
}/*  */

.TA{
    font-size: 100%;
        display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
}/*  */


#div_1{
display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
width: 80%;
height: 80%;
    margin: auto;

}



body{
display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
width: 100%;
height: 100%;
flex-direction: column;
}


#iniciar{   
display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
width: 100%;
height: 100%;}

#botones{    
display: flex;
align-content:center;
justify-content:center;
text-align: center;
width: 60%;
height: 100%; 
}




#div_modos{
    display: flex;
    flex-direction: column;
}


#div_dificult{
    display: flex;
    flex-direction: column;
}

#div_CONFI{   
    display: flex;
    flex-direction: row; 
    width: 80%;
    height: 200%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#div_musicano{    
    width: 80%;
    height: 200%;
    margin: auto;
    display: flex;
    flex-direction: column;
align-items: center;
}



#iniciar{
    width: 100%;
    height: 100%;
    margin: auto;
    flex-direction: column;

}

.I_C{
background-color: transparent;
color: transparent;
margin: 0%;
padding: 0% 0%;
font-size: 0%;
border: none;
}
/*  */



#div_instruciono{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}



#central{
display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
flex-direction: column;
width: 100%;
height: 100%;
}

#central_botones{
display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
flex-direction: column;
width: 100%;
height: 100%;
}

.Div_centrales_Botones{
display: flex;
align-content:center;
justify-content:center;
align-items: center;
text-align: center;
width: 100%;
height: 100%;
}

#S_1{
        color: rgb(0, 255, 21);
    background-color: rgb(255, 0, 0);
}

#S_2{
        color: rgb(255, 230, 2);
    background-color: rgb(255, 255, 255);
}

#S_3{
        color: rgb(0, 255, 4);
    background-color: rgb(255, 255, 255);
}

#S_4{
        color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}



.BOTO{
    border:10px outset gray;
    cursor: pointer;
}

