.boton_uni{
    padding: 2.5% 9.8%;
    font-size: 100%;
}
/*  */

.div{
    display: flex;
justify-content: center;
}
/*  */

.div_C{
    display: flex;
    flex-direction: row;
}
/*  */

.v{
    display: flex;
    flex-direction: row;
}
/*  */

#botones{
    display: flex;
    flex-direction: row;
justify-content: space-around;
justify-content: space-between;
}
/*  */


/*  */

.inicio{
    display: flex;
    justify-content: center;
}
/*  */


.BU{
    color: violet;
}/*  */


.puntuacion_C{
    display: flex;
    flex-direction: column;
}
/*  */


#DIV_P{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: -10%;
/*  */
}

.I_C{
background-color: transparent;
color: transparent;
margin: 0%;
padding: 0% 0%;
font-size: 0%;
border: none;
}
/*  */

.I_D{
    width: 0%;
    height: 0%;
}
/*  */



.H3G{
    color: transparent;
    font-size: 0%;
}
/*  */


#HG3_D{
    display: flex;
    flex-direction: column;
}/*  */


.H_cabe{
    color: transparent;
    font-size: 0%;
}
/*  */


.D_COLUM{
    display: flex;
    flex-direction: column;
}
/*  */


#T_modos{
    display: flex;
    flex-direction: column;
}/*  */



#B_modos{
    display: flex;
    flex-direction: row;
}/*  */


.modos{
    font-size: 600%;
    display: flex;
    justify-content: center;
    padding: 8% 8%;
    color: aliceblue;
    background-color: black;
}/*  */


.modos_2{
    display: flex;
margin: auto;
padding: 8% 8%;
}/*  */


.uni{
    margin-left: 200px;
}/*  */

.v_P{
    margin-bottom: -15%;
}
/*  */

.vD{
    font-size: 200%;
margin-left: 2%;
}/*  */

.CO{
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-top: -5%;
}/*  */



#B_I{
    height: 1350px;
    width: 1800px;
    font-size: 200px;
}

#selec{
    display: flex;
    flex-direction: column;
    margin-left: -12%;
    margin-right: 15%;
}

#selector{
    padding: 6% 10%;
    font-size: 250%;
    width: 170%;
    height:140% ;
}

#selecionadordetema{
    padding: 6% 19.2%;
    font-size: 250%;
    text-align: center;
    text-align: justify;
    width: 132%;
    height:40% ;
}

.B_E{
padding: 3% 5%;
    font-size: 100%;
}/*  */



.TE{
    font-size: 200%;
}/*  */


#div_1{
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}

body{
    width: 80%;
    height: 200%;
        margin: auto;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}


#iniciar{    width: 80%;
    height: 200%;
        margin: auto;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;}

#botones{    
    width: 80%;
    height: 200%;
    margin: auto;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;}




#div_modos{
    display: flex;
    flex-direction: column;
}


#div_dificult{
    display: flex;
    flex-direction: column;
}

#div_CONFI{   
    display: flex;
    flex-direction: row; 
    width: 80%;
    height: 200%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap
}


#div_musicano{    
    width: 80%;
    height: 200%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
}


.divo{
    margin: auto;
    margin-right: 5%;
    margin-left: 5%;
}
